.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
out/*
downloads/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### jekyll ###
*.sass
*.sass-cache
_site/*