name: Build and Push Dockerimage
on: 
  push:
    branches: 
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: assemble

    - name: Publish to Registry
      uses: mr-smithers-excellent/docker-build-push@v2
      with:
        image: jekyll2cms/jekyll2cms
        tag: 2.0.0
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
